body {
    padding-top: 70px; /* necessary with header > navbar-fixed-top */
}

/*
Slider
*/
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

/*
Products
*/
.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.btns {
    text-align: center;
    padding: 10px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/*
Search
*/
form.search .form-group {
    margin-right: 10px;
}

/*
Footer
*/

.footer {
    height: auto;
    margin-top: 40px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #dddddd;
    background: rgba(200,200,200,0.3);
}

.footer .marketing {
    padding: 30px;
}

.footer .marketing .img-circle {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background-color: #FFF;
    border: 10px solid #dddddd;
}

.footer .marketing .img-circle .glyphicon {
    font-size: 71px;
    text-align: center;
    margin-top: 25px;
}

.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 0 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}

.social li.facebook:hover { border: 2px solid #3A5795; background: #3A5795; }
.social li.twitter:hover { border: 2px solid #55ACEE; background: #55ACEE; }
.social li.google-plus:hover { border: 2px solid #DF4B38; background: #DF4B38; }
.social li.pinterest:hover { border: 2px solid #BD2126; background: #BD2126; }
.social li.youtube:hover { border: 2px solid #D70E0C; background: #D70E0C; }

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}

.footer-bottom {
    background: rgba(200,200,200,0.2);
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    width: 150px;
    font-size: 1.5em;
}


ul.navbar-nav li.active a {
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
    color: white;
}